<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8 m-auto">
      <h2 class="text-center">Traveller Details</h2>
      <form [formGroup]="travellerDetailForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
          <label for="travellerName" class="col-sm-12 col-md-4 col-form-label"
            >Traveller Name</label
          >
          <div class="col-sm-12 col-md-8">
            <input
              type="text"
              class="form-control"
              id="travellerName"
              formControlName="name"
              [class.is-invalid]="checkIsFieldInvalid('name')"
            />
            <div *ngIf="checkIsFieldInvalid('name')" class="text-danger">
              Name field cannot be empty
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="travellerEmail" class="col-sm-12 col-md-4 col-form-label"
            >Traveller Email</label
          >
          <div class="col-sm-12 col-md-8">
            <input
              type="email"
              class="form-control"
              id="travellerEmail"
              formControlName="email"
              [class.is-invalid]="checkIsFieldInvalid('email')"
            />
            <div *ngIf="checkIsFieldInvalid('email')" class="text-danger">
              Email field cannot be empty
            </div>
            <div *ngIf="isEmailValid()" class="text-danger">Invalid Email</div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="channel" class="col-sm-12 col-md-4 col-form-label"
            >Channel</label
          >
          <div class="col-sm-12 col-md-8">
            <select
              class="form-select"
              id="channel"
              formControlName="channel"
              [class.is-invalid]="checkIsFieldInvalid('channel')"
            >
              <option selected value="">Please Select</option>
              <option *ngFor="let option of channelOptions" [ngValue]="option">
                {{ option }}
              </option>
            </select>
            <div *ngIf="checkIsFieldInvalid('channel')" class="text-danger">
              Channel field cannot be empty
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="meetAndGreet" class="col-sm-12 col-md-4 col-form-label"
            >Meet & Greet Required</label
          >
          <div class="col-sm-12 col-md-8">
            <select
              class="form-select"
              id="meetAndGreet"
              formControlName="meetAndGreetRequested"
              [class.is-invalid]="checkIsFieldInvalid('meetAndGreetRequested')"
            >
              <option selected value="">Please Select</option>
              <option
                *ngFor="let option of meetAndGreetRequestedOptions"
                [ngValue]="option"
              >
                {{ option }}
              </option>
            </select>
            <div
              *ngIf="checkIsFieldInvalid('meetAndGreetRequested')"
              class="text-danger"
            >
              Meet & Greet Requested field cannot be empty
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="travelDateTime" class="col-sm-12 col-md-4 col-form-label"
            >Traveller DateTime</label
          >
          <div class="col-sm-12 col-md-8">
            <input
              type="datetime-local"
              class="form-control"
              id="travelDateTime"
              formControlName="travelDateTime"
              [class.is-invalid]="checkIsFieldInvalid('travelDateTime')"
            />
            <div
              *ngIf="checkIsFieldInvalid('travelDateTime')"
              class="text-danger"
            >
              Travel Datetime field cannot be empty
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="bookingPrice" class="col-sm-12 col-md-4 col-form-label"
            >Booking Price</label
          >
          <div class="col-sm-12 col-md-8">
            <input
              type="text"
              (keypress)="numericOnly($event)"
              class="form-control"
              id="bookingPrice"
              formControlName="bookingPrice"
              [class.is-invalid]="checkIsFieldInvalid('bookingPrice')"
            />
            <div
              *ngIf="checkIsFieldInvalid('bookingPrice')"
              class="text-danger"
            >
              Booking Price field cannot be empty
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div
            class="col-sm-12 col-md-6 row m-auto justify-content-center mt-4"
          >
            <button type="submit" class="col-sm-5 mb-3 btn btn-success">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
